<h1>Editing room</h1>

<%= render 'form' %>

<% link_to 'Delete', [@site, @room], confirm: 'Are you sure?', method: :delete %>

<% content_for :footer do %>
  <%= content_tag :h3, link_to('Back', site_room_path(@site, @room), :data => {:role => "button", :icon => "back"}) %>
<% end %>

