<h2><%= @site.name %></h2>
<%= link_to 'New Room', new_site_room_path(@site) %>

<%= content_tag( :div, :data => {:role => "collapsible-set", :theme => "c", "content-theme" => "d"}, :class => "ui-collapsible-set") do %>
  <% @rooms.each do |room| %>  
    <%= render room %>
  <% end %>
<% end %>