<h1>New room for <%= @site.abbreviation %></h1>

<%= render 'form' %>

<% content_for :footer do %>
  <%= content_tag :h3, link_to('Back', @site, :data => {:role => "button", :icon => "back", :icon => "back"}) %>
<% end %>
