/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require jquery.mobile-1.0
 *= require_tree . 
*/

.sprite {
	background-image: url("/assets/sprite.png");
	background-repeat: no-repeat;
	-moz-border-radius: 				9px;
	-webkit-border-radius: 				9px;
	border-radius: 						9px;
	-moz-background-size: 36px 36px;
	-o-background-size: 36px 36px;
	-webkit-background-size: 36px 36px;
	background-size: 36px 36px;
}
.sprite.location {
	background-position:right 50%;
	padding-right:36px;
}