<h1>Editing <%= @category.name %></h1>

<%= render 'form' %>

<% content_for :footer do %>
  <%= content_tag(:h3, link_to('Back', category_path(@category), :data => {:role => "button"})) %>
<% end %>
